################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/erefugia.art.slnx
.vs/
.DS_Store
Thumbs.db