cshtml@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "My First Post";
}

<article>
    <h1>My First Post</h1>
    <p class="date">June 25, 2026</p>

    <p>Your content here...</p>
</article>